@model PostAndListViewModel

@{
    ViewBag.Title = Model.Post.Title;
    ViewBag.Description = Model.Post.Description;
    ViewBag.Keywords = $"{Model.Post.Tags?.Replace(",", " ")} {Model.Post.Category.Name}";
    var base_path = Context.Request.PathBase;
}

<div id="content">
    <div class="post">
        <div class="container">
            <div class="post-standard">
                <div class="post-standard__banner">
                    <div class="post-standard__banner__image">
                        @if (!String.IsNullOrEmpty(Model.Post.Image))
                        {
                            var image_path = $"{base_path}/Image/{Model.Post.Image}";
                            <img src="@image_path " width="500" />
                        }
                    </div>
                    <div class="post-standard__banner__content">
                        <div class="post-card -center">
                            <div></div>
                            <div class="card__content">
                                <h5 class="card__content-category">@Model.Post.Category.Name</h5>
                                <a class="card__content-title" post.html"="">@Model.Post.Title</a>
                                <div class="card__content-info">
                                    <div class="info__time">
                                        <i class="far fa-clock"></i>
                                        <p>@Model.Post.Created.ToString()</p>
                                    </div>
                                    <div class="info__comment">
                                        <i class="far fa-comment"></i>
                                        <p>@Model.Post.MainComments.Count</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="post-standard__content">
                            <!-- Post share icons -->
                            <div id="post-share">
                                <h5>Share:</h5>
                                <div class="social-media">
                                    <a href="https://www.facebook.com/yasingulec34" target="_blank" style="background-color: #075ec8">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://twitter.com/ygfromgng" target="_blank" style="background-color: #40c4ff">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.instagram.com/sippinonsyrup" target="_blank" style="background-image: linear-gradient(to top, #f2a937, #d92e73, #9937b7, #4a66d3), linear-gradient(to top, #af00e1, #ff9e35)">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- content Starts here -->
                            <p class="paragraph">
                                @Html.Raw(@Model.Post.Body)
                            </p>

                            <!-- Post footer -->
                            <div class="post-footer">
                                <div class="post-footer__tags center">
                                    <div class="tags-group">
                                        @{
                                            string[] tags = @Model.Post.Tags.Split(",");
                                            foreach (var item in tags)
                                            {
                                                <a class="tag-btn" @*href="blog-category.html"*@>@item</a>

                                            }
                                        }
                                    </div>
                                </div>
                                <div class="post-footer__author">
                                    <div class="author__avatar">
                                        <!-- img size 150 x 150 -->
                                        <img src="~/assets/images/post_detail/auth.png" alt="Author avatar">
                                    </div>
                                    <!-- Author Info -->
                                    <div class="author__info">
                                        <h5>@Model.Post.Author</h5>
                                        <p>An avid Ui/Ux designer &amp; Web developer who is passionate about solving complex UX challenges across digital businesses.</p>
                                        <!-- social Media -->
                                        <div class="social-media">
                                            <a href="https://www.facebook.com/yasingulec34" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="https://twitter.com/ygfromgng" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="https://www.instagram.com/sippinonsyrup" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Related Posts -->
                                <div class="post-footer__related">
                                    @{
                                        bool isNext = false;
                                    }
                                    @foreach (var item in Model.Posts)
                                    {
                                        if (!isNext)
                                        {
                                            <div class="post-footer__related__item -prev">
                                                <!-- <a href="post_standard.html"> <i class="fas fa-chevron-left"></i>Previous posts</a> -->
                                                <div class="post-footer__related__item__content">
                                                    <!-- img size 360 x 360 -->
                                                    <img src="/Image/@item.Image" alt="@item.Description">
                                                    <div class="post-card ">
                                                        <div></div>
                                                        <div class="card__content">
                                                            <h5 class="card__content-category">@item.Category.Name</h5>
                                                            <a class="card__content-title" href="@item.Id">@item.Title</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            isNext = true;
                                        }
                                        else
                                        {
                                            <div class="post-footer__related__item -next">
                                                <!-- <a href="#">Next posts<i class="fas fa-chevron-right"></i></a> -->
                                                <div class="post-footer__related__item__content">
                                                    <div class="post-card -right">
                                                        <div></div>
                                                        <div class="card__content">
                                                            <h5 class="card__content-category">@item.Category.Name</h5>
                                                            <a class="card__content-title" href="@item.Id">@item.Title</a>
                                                        </div>
                                                    </div>
                                                    <img src="/Image/@item.Image" alt="@item.Description">
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                                <!-- comments  -->
                                <div class="post-footer__comment">
                                    <h3 class="comment-title"> <span>@Model.Post.MainComments.Count COMMENT</span></h3>
                                    <div class="post-footer__comment__detail">
                                        @foreach (var item in Model.Post.MainComments)
                                        {
                                            <div class="comment__item">
                                                <div class="comment__item__content">
                                                    <div class="comment__item__content__header">
                                                        <h5>@item.Name</h5>
                                                        <div class="data">
                                                            <p><i class="far fa-clock"></i>@item.Created.ToString("dddd, dd MMMM yyyy HH:mm tt")</p>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        @item.Message
                                                    </p>
                                                </div>
                                            </div>

                                            await Html.RenderPartialAsync("_SubComment", new CommentViewModel { PostId = Model.Post.Id, MainCommentId = item.Id });

                                            @foreach (var sc in item.SubComments)
                                            {
                                                <div class="comment__item" style="margin-left:50px;">
                                                    <div class="comment__item__content">
                                                        <div class="comment__item__content__header">
                                                            <h5>@sc.Name</h5>
                                                            <div class="data">
                                                                <p><i class="far fa-clock"></i>@sc.Created.ToString("dddd, dd MMMM yyyy HH:mm tt")</p>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            @sc.Message
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                    <!-- comment Form -->
                                    <h3 class="comment-title"> <span>Leave a comment</span></h3>
                                    @{
                                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Post.Id, MainCommentId = 0 });
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








