@model IEnumerable<Post> 
<div class="col-12 col-md-6 col-lg-4">
    <div class="footer-col -feature-post">
        <div class="center-line-title">
            <h5>Feature posts</h5>
        </div>
        <div class="feature-post-block">
            @foreach (var item in Model)
            {
                <div class="post-card -tiny">
                    <a class="card__cover" asp-controller="Home" asp-action="Post" asp-route-id="@item.Id">
                        <!-- img size 360 x 360 -->
                        <img src="/Image/@item.Image" alt="@item.Description">
                    </a>
                    <div class="card__content">
                        <h5 class="card__content-category">Open source</h5>
                        <a class="card__content-title"asp-controller="Home" asp-action="Post" asp-route-id="@item.Id">@item.Title</a>
                        <div class="card__content-info">
                            <div class="info__time">
                                <i class="far fa-clock"></i>
                                <p>@item.Created</p>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>